body {
    background-color: aquamarine; 
    text-align: center;
    
}

.gameContainer {
    margin-top: 50px;
    
}
.gameBoard {
    
    height: 300px;
    width: 300px;
    margin: auto;
}
.cell {
    background-color: lightpink;
}

.hidden {
    /* visibility: hidden; */
    /* background-color: gray; */
}

.gameBoard td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 2.4em;
}
